{% extends 'base.html' %}
{% block content %}
   <d iv class="container-fluid">
    <div class="row text-center py-3">
        <div class="col">
            <h1>Últimas novidades</h1>
        </div>
    </div>   
<div class="row justify-content-center">
        <!-- {{url_for('static', filename='images/utopia.jpg')}} -->
         <div id="carouselExampleIndicators" class="carousel slide w-75">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{url_for('static', filename='images/utopia.jpg')}}" class="d-block w-100 h-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='images/audi-rs6.webp')}}" class="d-block w-100 h-50" alt="...">
    </div>  
    <div class="carousel-item">
      <img src="{{url_for('static', filename='images/speedtail.jpg')}}" class="d-block w-100 h-50" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
   </div>
{% endblock content %}